PORT=3000

DATABASE_URL=postgresql://postgres:your_password@localhost:5434/secure_api_db

JWT_SECRET=change_this_to_your_secret_key

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_admin_password
